{% extends 'base.html' %}

{% block content %}
<h1> List of Keyboards</h1>
<form action="{% url 'index' %}" method="get">
    <label for="featured">Case Color</label>
    <select name="Case_Color">
        <option value="" />Show All</option>
        <option value="BLA" />Black</option>
        <option value="RED" />Red</option>
        <option value="WHI" />White</option>
        
    <input type="submit" name="Case_Color_Filtered" value="Filter" />
</form> 

<form action="{% url 'index' %}" method="get">
    <label for="featured">Case Material</label>
    <select name="Case_Material">
        <option value="" />Show All</option>
        <option value="PLA" />Plastic</option>
        <option value="POLY" />Polycarbonate</option>
        <option value="ALU" />Aluminum</option>
        
    <input type="submit" name="Case_Material_Filtered" value="Filter" />
</form> 
{% for keyboard in keyboards %}



<a href="{% url 'detail' keyboard.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ keyboard.name }}</span>
        </div>
    </div>
  </a>
  {% endfor %}

  {% endblock %}